.h{
    padding: 0rem;
    left:15rem;
    position:absolute;
    top: 0rem;
    
}
p{
    padding: 0rem;
    position: absolute;
    left:2rem;
}

.j{
    position: absolute;
    right: 6rem;
}
    
